html {
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100%;
    max-height: max-content;

}

body {


    flex-direction: column;
    align-items: flex-start;
    position: relative;

    background: #36393F;
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* header comecar aqui */
header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    /* width: 1880px; */
    max-width: max-content;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.divHeader1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px;
    gap: 0px;

    width: 1830px;
    /* importante */
    height: 16px;

    background: #202225;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.textoHeader {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divHeader2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 15px;
    right: 10px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.imgHeader1:hover,
.imgHeader2:hover,
.imgHeader3:hover {
    cursor: pointer;
    transform: scale(1.1)
}

/* header fim */

.divTelaPrincipal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 540px;
    top: 1px;
    width: 800px;

    flex: none;
    order: 2;
    flex-grow: 1;
}

.divTituloPrincipal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 1008px;
    height: 49px;


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.divContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 1008px;
    height: 48px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

/* fica branco ao passa o mouse  */
.divTitulo1Nome:hover,
.divTitulo2Nome:hover,
.divTitulo3Nome:hover,
.divTitulo4Nome:hover,
.divTitulo5Nome:hover,
.divTitulo6Nome:hover {
    color: #ffffff;
    cursor: pointer;
    transform: scale(1.1)
}

.divTitulo1Nome:hover {
    color: #eaee00;
}


.divTitulo1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 32px;
    gap: 4px;

    width: 60px;
    height: 48px;



    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.imgTitulo1 {
    width: 20px;
    height: 20px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divTitulo1Nome {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.divTituloEspaco {
    width: 1px;
    height: 24px;
    background: #42464D;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.divTitulo2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 55px;
    height: 48px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.divTitulo2Nome {
    font-size: 14px;
    line-height: 24px;
    color: #96989D;
}

.divTitulo3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 38px;
    height: 48px;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.divTitulo3Nome {
    font-size: 14px;
    line-height: 24px;
    color: #96989D;
}

/* to aqui  */

.divTitulo4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 8px;

    width: 70px;
    height: 48px;

    flex: none;
    order: 4;
    flex-grow: 0;

}

.divTitulo4Nome {
    font-size: 14px;
    line-height: 24px;
    color: #96989D;
}

.divTitulo5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 68px;
    height: 48px;


    flex: none;
    order: 5;
    flex-grow: 0;
}

.divTitulo5Nome {
    font-size: 14px;
    line-height: 24px;
    color: #96989D;
}

.divTitulo6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 80px;
    height: 48px;
    flex: none;
    order: 6;
    flex-grow: 0;
}

.divTitulo6Nome {
    font-size: 14px;
    line-height: 24px;
    color: #3BA55D;
}

/* estou aqui nas separação do icones */
.divTituloIcones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 870px;
    height: 48px;
    flex: none;
    order: 7;
    flex-grow: 1;
}

.divTituloIcone1:hover,
.divTituloIcone2:hover,
.divTituloIcone3:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.divTituloIcone1 {
    width: 24px;
    height: 24px;

}

.divTituloIconeVazio {
    width: 1px;
    height: 24px;
    background: #42464D;
}

/* ================================================================= */
.divTituloIcone2 {
    width: 24px;
    height: 24px;

}

.divTituloIcone3 {
    width: 24px;
    height: 24px;
}

.divSeperarTitulo {
    width: 1316px;
    height: 1px;

    background: #232428;

}

.divTituloSegundario {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 800px;
    height: 900px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.divTitSegun1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 0px;
    width: 900px;
    isolation: isolate;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.divTitSegunVazio {
    width: 1px;
    height: 900px;
    background: #42464D;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* tenta moverrrrrrrrrrrrrrrr */

.divTitSegun1Opcao1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 1048px;
    height: 156px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
}

.divTitSegun1Opcao1Texto1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 32px;
    width: 1248px;
    height: 80px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.pTexto1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    color: #FFFFFF;
    cursor: default;
}

.pTexto2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: #96989D;
    cursor: default;
}


.divTitSegun1Opcao1Texto2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 0px;
    width: 1000px;
    height: 72px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.divSearch {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    width: 800px;
    height: 50px;
    background: #202225;
    border: 1px solid #00AFF4;
    border-radius: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.divCaixaSearch {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background: #202225;
    border-style: none;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    flex: none;
    order: 1;
    flex-grow: 1;
    cursor: pointer;
    color: #FFFFFF;
}

.divCaixaSearch:focus {
    list-style: none;
    border-style: none;
    outline-style: none;
    cursor: text;
    color: #FFFFFF;
    /* outline remover a linha branca quando clica no input */
}

.butaoPrincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px;
    gap: 0px;

    width: 220px;
    height: 20px;

    background: #3C438B;
    border-radius: 20px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.butaoPrincipal:hover {
    cursor: pointer;
    background: #008cff;
    transform: scale(1.01)
}

/* estou aqui ---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
-------------------- */
.butaoPrincipalTexto {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

/* .butaoPrincipalTexto:hover{
    color: #000000;
} */

.divTitSegun1Vazio {
    width: 900px;
    height: 1px;
    background: #42464D;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}

.divTitSegun1Opcao2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;

    position: absolute;
    left: 200px;
    top: 371px;

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.imgTitSegun1Opcao2 {
    width: 395px;
    height: 157px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.textoTitSegun1Opcao2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 8px;
    text-align: center;
    color: #9C9FA3;
    cursor: default;
}

/* ok */
.divTitSegun2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 359px;
    height: 440px;
    /*  resolveu o problema do tamanho da tela ok. */
    background: #36393F;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.divTitSegun2OpcaoDeTexto1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.textoTitSegun2OpcaoDeTexto1 {
    margin-left: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 12px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.divTitSegun2OpcaoDeTexto2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 32px;
}

.subtexto1TitSegun2OpcaoDeTexto2 {
    margin: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    padding: 0px;
    text-align: center;
    color: #FFFFFF;
}

.subtexto2TitSegun2OpcaoDeTexto2 {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #96989D;

}