html {
    font-family: Arial, Helvetica, sans-serif;
}

body {

    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 1920px;
    height: 1037px;
    background: #36393F;
    margin: 0;
    padding: 0;
    border: 0;
}

.divTelaPrincipal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 1608px;
    height: 1013px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 1;
}

.divTituloPrincipal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 1608px;
    height: 49px;

    background: #36393F;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.divContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 1608px;
    height: 48px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.divTitulo1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 32px;
    gap: 12px;

    width: 157px;
    height: 48px;

    background: #36393F;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.imgTitulo1 {
    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divTitulo1Nome {
    width: 57px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;


    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.divTituloEspaco {
    width: 1px;
    height: 24px;

    background: #42464D;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.divTitulo2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 67px;
    height: 48px;

    background: #36393F;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.divTitulo2Nome {
    width: 43px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    color: #96989D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divTitulo3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 41px;
    height: 48px;

    background: #36393F;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.divTitulo3Nome {
    width: 17px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    color: #96989D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divTitulo4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 79px;
    height: 48px;

    background: #36393F;

    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;

}

.divTitulo4Nome {
    width: 55px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    color: #96989D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divTitulo5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 78px;
    height: 48px;

    background: #36393F;

    /* Inside auto layout */

    flex: none;
    order: 5;
    flex-grow: 0;
}

.divTitulo5Nome {
    width: 54px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    color: #96989D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.divTitulo6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 98px;
    height: 48px;

    background: #36393F;

    /* Inside auto layout */

    flex: none;
    order: 6;
    flex-grow: 0;

}

.divTitulo6Nome {
    width: 74px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    color: #3BA55D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divTituloIcones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
    gap: 16px;

    width: 1087px;
    height: 48px;

    background: #36393F;

    /* Inside auto layout */

    flex: none;
    order: 7;
    flex-grow: 1;
}

.divTituloIcone1 {
    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divTituloIconeVazio {
    width: 1px;
    height: 24px;

    background: #81be0e;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.divTituloIcone2 {
    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.divTituloIcone3 {
    width: 24px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.divSeperarTitulo {
    width: 1608px;
    height: 1px;

    background: #bde700;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.divTituloSegundario {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 1608px;
    height: 964px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.divTitSegun1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    isolation: isolate;

    width: 1248px;
    height: 964px;

    background: #36393F;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.divTitSegunVazio {
    width: 1px;
    height: 964px;

    background: #bde700;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.divTitSegun2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 359px;
    height: 964px;

    background: #36393F;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.divTitSegun1Opcao1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 1248px;
    height: 156px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
}

.divTitSegun1Opcao1Texto1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 4px;

    width: 1248px;
    height: 84px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.pTexto1 {
    width: 1184px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.pTexto2 {
    width: 1184px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    color: #96989D;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.divTitSegun1Opcao1Texto2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 32px;
    gap: 8px;

    width: 1248px;
    height: 72px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.divSearch {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;

    width: 1184px;
    height: 56px;

    background: #202225;
    border: 1px solid #00AFF4;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.divCaixaSearch {
    width: 5px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    background: #36393F;
    background-color: #36393F;
    color: #FFFFFF;
    border-image: none;
    border-style: none;
    border-color: #36393F;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    width: 982px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    color: #6F7174;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;

}

.butaoPrincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 173px;
    height: 32px;

    background: #3C438B;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.butaoPrincipalTexto {
    width: 141px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */


    color: #8F9092;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divTitSegun1Vazio {}

.divTitSegun1Opcao2 {}