body {
    font-family: 'Courier New', Courier, monospace;
    /* background: #36393F;
    color: #FFFFFF; */
    border: 2px solid #02de48;
    background: rgb(82, 80, 80);

}

.divGrupoPrincial {
    text-align: center;
    margin: 186.2px;
    font-size: 40px;
    font-weight: 700;
}
/* 
.imgProfessor {
    width: 400px;
    top:20px;
    
}   */


.divCaixaGrupo {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    /*itens ficam na horizontal*/
    flex-wrap: wrap;
    /*  quebra a linha caso os itens atinjam a largura do container */
    gap: 10px;
    /*  espaço entre os itens */
    justify-content: flex-start;
    /* alinhamento horizontal dos itens no container */
    /* border-style: solid; */
    /* position: absolute; */
    top:2500px;
}


.divNomeGrupoAntonio:hover,
.divNomeGrupoEmilly:hover,
.divNomeGrupoJeallyson:hover {
    transform: scale(1.01);
    /* align-items: center; */

}


.divImgIfal {
    position: absolute;
    right: 25px;
    top: 15px;
    margin-top: 20px;
    right: 35.9px;;
}

.imgifal {
    width: 135.50px;
}

#jeallyson {
    position: relative;
    left: 7.52px;
}

#emilly {
    position: relative;
    left: 10px;
}

#reiDelas {
    position: relative;
    left: 10.5px;
}

#ifal-link {
    position: absolute;
    top: 170px;
    left: 1250px;
}


/* estiliza links não visitados */
a:link {
   text-decoration: none;
   /* background-color: #02de48; */
   color: #02de48;
}

/* estiliza ao passar o mouse */
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

/* estiliza um link no momento do click do mouse */
a:active {
    color: rgb(255, 7, 7);
}

/* a:visited {
    color:#02de48;
} 

desativei por enquanto
*/